  <div class="panel-heading">
    <h4> Add Blog
      <span class="canceladdeditblog glyphicon glyphicon-remove-sign"></span>
    </h4>
  </div>
  <div class="panel-body">
    <form id="addeditblogfrm" class="form-horizontal">
      <div class="blogsuccesserrorpanel hidden">
      </div>
      {{!--
      <div class="amsuccessResult alert alert-dismissible alert-success hidden">
        <strong>Thank you!</strong> You have successfully updated about yourself.
      </div>
      <div class="alert alert-danger hidden amerrorResult" role="alert">
        Currently there are some technical issue . Please try again later.
      </div> --}}

      <div class="form-group">
        <label class="control-label" for="topic">Blog Topic</label>
        <div>
          <input type="text" class="form-control" maxlength="100" id="topic" name="topic" autofocus="autofocus" value="{{blogs.topic}}">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="content">Content</label>
        <div>
          <textarea class="input" rows="10" cols="85" maxlength="5000" id="content" name="content" autofocus="autofocus">{{blogs.content}}</textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="category">Blog Category</label>
        <div>
          <select name="category" id="category" class="form-control">
          {{#each category}}
              {{#Compare ../blogs.categorykey this.key}} 
                <option selected="selected" value="{{this.key}}">{{this.name}}</option>
              {{else}}
                <option value="{{this.key}}">{{this.name}}</option>
              {{/Compare}}
          {{/each}} 
          </select>
        </div>
      </div>

      <input type="hidden" id="modifiedby" name="modifiedby" value="" />
      <input type="hidden" id="createdby" name="createdby" value="{{user.username}}" />
      <input type="hidden" id="_id" name="_id" value="" />
      <input type="hidden" id="status" name="status" value="" />
      <input type="hidden" id="index" name="index" value="" />
      <input type="hidden" id="userid" name="userid" value="{{user._id}}" />
      <input type="hidden" id="actiontype" name="actiontype" value="add" />

      <div class="form-group">
        <div>
          <button type="submit" class="btn btn-info btn-sm">Add</button>
          <button type="reset" class="btn btn-info btn-sm canceladdblog">Cancel</button>
        </div>
      </div>
    </form>
  </div>

 <script src="/ckeditor/ckeditor.js"></script>
<script>
  CKEDITOR.replace('content');
</script>


