   {{!-- <div class="panel-heading">
    <h4> Edit Blog  --}}
      {{!-- <span class="canceladdeditblog glyphicon glyphicon-remove-sign"></span> --}}
    {{!-- </h4>
  </div>  --}}
  <div>
    <form id="editblogfrm" class="form-horizontal">
      {{!-- <div class="blogsuccesserrorpanel hidden">
      </div> --}}
      
      <div class="form-group">
        <label class="control-label" for="topic">Blog Topic</label>
        <div>
          <input type="text" class="form-control" maxlength="100" id="topic_{{this._id}}" name="topic_{{this._id}}" autofocus="autofocus" value="{{this.topic}}">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="content_{{this._id}}">Content</label>
        <div>
          <textarea class="input" rows="10" cols="85" maxlength="5000" id="content_{{this._id}}" name="content_{{this._id}}" autofocus="autofocus">{{this.content}}</textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="category_{{this._id}}">Blog Category</label>
        <div>
          <select name="category_{{this._id}}" id="category_{{this._id}}" class="form-control">
          {{#each ../category}}
              {{#Compare ../blogs.categorykey this.key}} 
                <option selected="selected" value="{{this.key}}">{{this.name}}</option>
              {{else}}
                <option value="{{this.key}}">{{this.name}}</option>
              {{/Compare}}
            {{/each}} 
          </select>
        </div>
      </div>

      
      <input type="hidden" id="modifiedby_{{this._id}}" name="modifiedby_{{this._id}}" value="{{user.username}}" />
      <input type="hidden" id="createdby_{{this._id}}" name="createdby_{{this._id}}" value="{{blogs.createdby}}" />
      <input type="hidden" id="_id_{{this._id}}" name="_id_{{this._id}}" value="{{this._id}}" />
      <input type="hidden" id="status_{{this._id}}" name="status" value="{{this.status}}" />
      <input type="hidden" id="index_{{this._id}}" name="index_{{this._id}}" value="{{index}}" />
      <input type="hidden" id="userid_{{this._id}}" name="userid_{{this._id}}" value="{{user._id}}" />
      <input type="hidden" id="actiontype" name="actiontype" value="edit" /> 
      <div class="form-group">
        <div>
          <button type="submit" class="btn btn-info btn-sm" id="editblog" name="editblog">Save</button>
          <button type="button" class="btn btn-info btn-sm cancel"  id="canceleditblog" name="canceleditblog">Cancel</button> 
        </div>
      </div>
    </form>
  </div>

<script src="/ckeditor/ckeditor.js"></script>
<script>
  CKEDITOR.replace('content_{{this._id}}');
</script>


