<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Blogger's Point">
  <meta name="author" content="TechCOE">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/jquery-ui.css" rel="stylesheet">
  <link href="/css/common.css" rel="stylesheet">
  <link href="/css/plugin/waitMe.css" rel="stylesheet">

  <script type="text/javascript" src="/js/jquery-2.2.3.min.js"></script>
  <script type="text/javascript" src="/js/jquery-ui.js"></script>
  <script type="text/javascript" src="/js/typeahead.bundle.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/common.js"></script>
  <script type="text/javascript" src="/js/plugin/handlebars.js"></script>
  <script type="text/javascript" src="/js/plugin/waitMe.js"></script>
  <script type="text/javascript" src="/js/plugin/sweetalert-dev.js"></script>
</head>

<body></body>
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      <a class="navbar-brand" href="#">Blogger's Meet</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        {{#if user}} {{user._id}}
        <li><a href="/dashboard">Dashbboard</a></li>
        <li><a href="/blogs">Blogs</a></li>{{/if}}
        <li><a href="#contact">Contact</a></li>
        <li><a href="#contact">About</a></li>
      </ul>
      {{#if user}}
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
             <img src="/{{user._id}}/{{user._id}}.jpg" 
              class="profile-image navbarimage four reloadimage"> {{user.username}} <span class="caret"></span>
            </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/myprofile/{{user._id}}">My Profile</a></li>
            <li class="divider"></li>
            <li><a class="dropdown-item" href="/auth/changepwd/{{user._id}}">Change Password</a></li>
            <li class="divider"></li>
            <li><a class="dropdown-item" href="/auth/logout">Log-out {{user.username}}</a></li>
          </ul>
        </li>
      </ul>
      {{else}}
      <div class="navbar-form navbar-right">
        <form class="" action="/auth/login" method="POST">
          <div class="form-group">
            <input type="text" placeholder="Email" id="username" name="username" required="true" class="form-control input-sm">
          </div>
          <div class="form-group">
            <input type="password" placeholder="Password" id="password" name="password" required="true" class="form-control input-sm">
          </div>
          <button type="submit" class="btn btn-success btn-sm loginBtn" data-toggle="modal">Sign-in</button>
          <button type="button" class="btn btn-info btn-sm signup">
            <a class="nav-link" href="/auth/userRegistration">Sign-up</a>
            </button>
          <button type="button" class="btn btn-warning btn-sm fortgotpassword">
            <a class="nav-link" href="/auth/forgotPwd">Forgot Password</a>
          </button>
          <button type="button" class="btn btn-warning btn-sm fortgotpassword">
            <a class="nav-link" href="/auth/google">Google</a>
          </button>
        </form>
      </div> {{/if}}
    </div>
  </div>
</nav>
<div class="container">
  {{{body}}}
</div>

<footer class="panel-footer">
  <h1>Footer</h1>
</footer>
<span id="spnServicePath" class="hidden">{{config}}</span>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="alert-signup alert-info">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">The username, password is not correct</h4>
      </div>
    </div>
  </div>
</div>
</body>

</html>