<div class="bs-docs-section">
  <div class="row">

    <div class="panel panel-info profile-content-panel-border-radius addeditblogfrm hidden bg-form">
      {{> addeditblog}}
    </div>

    <h4>List of Blogs
      <span class="addblog glyphicon glyphicon-plus-sign"></span>
    </h4>

    <div class="blogeditsuccesserrorpanel hidden">
    </div>

    {{#Compare blogs.count ">" 0}}
    <div id="accordion" class="blogsbyuserid">
      {{#each blogs.result}}
      <div class="group blog_{{this._id}}">
        <h3>
          <span class="blogheader_{{this._id}}">{{this.topic}}</span>

          <div id="editblog" class="editblog">
            <span data-key="{{this._id}}" class="edit glyphicon glyphicon-edit"></span>
            <span data-key="{{this._id}}" class="remove glyphicon glyphicon-remove"></span>
          </div>

        </h3>
        <div>
          <div class="showblogdetails_{{this._id}}">
            <span class="blogpostdate glyphicon glyphicon-time"></span> Posted on {{this.creationdate}} {{{this.content}}}
          </div>
          <div class="blogeditform_{{this._id}} hidden">
            <div class="blogeditvalidationpanel hidden">
            </div>

            <div>
              <form id="editblogfrm" class="form-horizontal" data-key="{{this._id}}">
                <div class="form-group">
                  <label class="control-label" for="topic">Blog Topic</label>
                  <div>
                    <input type="text" class="form-control" maxlength="100" id="topic_{{this._id}}" name="topic_{{this._id}}" autofocus="autofocus"
                      value="{{this.topic}}">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="content_{{this._id}}">Content</label>
                  <div>
                    <textarea class="input" rows="10" cols="85" maxlength="5000" id="content_{{this._id}}" name="content_{{this._id}}" autofocus="autofocus">{{{this.content}}}</textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="category_{{this._id}}">Blog Category</label>
                  <div>
                    <select name="category_{{this._id}}" id="category_{{this._id}}" class="form-control">
          {{#each ../category}}
              {{#Compare ../this.categorykey this.key}} 
                <option selected="selected" value="{{this.key}}">{{this.name}}</option>
              {{else}}
                <option value="{{this.key}}">{{this.name}}</option>
              {{/Compare}}
          {{/each}} 
          </select>
                  </div>
                </div>

                <input type="hidden" id="modifiedby_{{this._id}}" name="modifiedby_{{this._id}}" value="{{../user.username}}" />
                <input type="hidden" id="createdby_{{this._id}}" name="createdby_{{this._id}}" value="{{this.createdby}}" />                {{!-- <input type="hidden" id="_id" name="_id" value="{{this._id}}" /> --}}
                <input type="hidden" id="status_{{this._id}}" name="status" value="{{this.status}}" />
                <input type="hidden" id="index_{{this._id}}" name="index_{{this._id}}" value="{{index}}" />
                <input type="hidden" id="userid_{{this._id}}" name="userid_{{this._id}}" value="{{../user._id}}" />
                <input type="hidden" id="creationdate_{{this._id}}" name="creationdate_{{this._id}}" value="{{this.creationdate}}" />
                <input type="hidden" id="actiontype_{{this._id}}" name="actiontype_{{this._id}}" value="edit" />
                <div class="form-group">
                  <div>
                    <button type="button" class="btn btn-info btn-sm saveblog" data-key="{{this._id}}">Save</button>
                    <button type="button" class="btn btn-info btn-sm cancel canceleditblog" data-key="{{this._id}}">Cancel</button>
                  </div>
                </div>
              </form>
            </div>

            <script src="/ckeditor/ckeditor.js"></script>
            <script>
              CKEDITOR.replace('content_{{this._id}}');
            </script>
          </div>
        </div>
      </div>
      {{/each}}

    </div>
    {{#if index}}
    <input type="hidden" name="nextsearindex" id="nextsearindex" value={{index}} /> {{/if}}

    <input type="hidden" name="userid" id="userid" value="{{user._id}}" />

    <div id="divImage" class="hidden">
      <span id="loadmoreblogbyuserid" name="loadmoreblogbyuserid" alt="Load More" class="glyphicon glyphicon-hand-down"></span>
    </div>


    {{else}}
    <h3>No Blogs found. Please click here to <a class="addblog" href="#">Add Blog</a></h3>
    {{/Compare}}

  </div>
</div>

<br/>
<link href="/css/blogs.css" rel="stylesheet" />
<script src="/js/blogs.js"></script>