{{#each blogs.result}}
<div>
    <!-- Title ,Author ,Date/Time-->
    <h3 class="h3-responsive"><a href="/viewblog/showdetails/{{this._id}}">
                    <img border="0" src="/images/article.png" title="article"></a>{{this.topic}}</h3>
    <p>Written by <a href="#">{{this.createdby}}</a>,
        <span></span> Posted on {{this.creationdate}}</p>

    <!--Content-->
    <span class="limitblogdata">{{{this.content}}}</span>

    <!--"Read more" button-->
    <a href="/viewblog/showdetails/{{this._id}}"><button class="btn btn-info">Read more</button></a>
</div>
<hr> {{/each}}